// font
$font-family: 'Roboto', sans-serif;


// color
$whiteColor: #fff;
$whiteHomeColorHelper:#fafafa;
$blackColor:#000;
$mainColor: #d10edd;
$homeMainColor:#951fb3;
$homeMainColorHelper_2:#53117f;
$homeMainColorHelper:#ede0f4;
$integrationBkclr:#f0f2f7;
//about f2-faq color
$aboutMainColor:#ebedf2;
//section body helper color
$sectionFaqBody:#383838;
//section_footer
$footerInputColor:#503d63;
//footer_a color
$footerHelperColor:#f104f5;

//features_icon
$featuresIcon:#d9f3de;
$featuresIcon2:#e1e1f5;
$featuresIcon3:#ebdcf4;
//features_icon i footer_button
$featuresIconi: #049507;
$featuresIconi2:#6c2b95;
$featuresIconi3:#d912dc;
//xmark_icon
$xmark_iconBg:#ff0000;

//h1 main, banner_button color
$h1ColorMain:#010101;

// buton color 
$navButtonColor:#73299a;
//navbar menu close color
$menuCloseColor:#d60606;
// home main a & i & about_icon
$homeMainColora:#6c2b95;
$homeMainColoraHelper:#fc01fd;
// home main span p color
$homeMainSpan:#6a6a6a;
//services a && about a
$serviceSectionColora:#0066ff;



//svg color
$svgMainColor: #fff;
$svgHelperColor:#aaaaaa;

//li border color
$liBorderColor:#dcdcdc;
// li font size
$liMainSize:14px;
//li i font size
$iMainSize:22px;

// font size, features i
$mainFontSize: 15px;
$navButtonSize:30px;
$homeMainSize:20px;
// main h1 size
$h1fontSize: 55px;
//main p size, span_title
$homeMainPSize:18px;
//p color
$pMainColor:#666666;
//pricing_price
$pricing_price:#818181;
//disabled
$disabled:#acacac;


// margin
$zeroSizeMargin: 0px;
$smallSizeMargin: 10px;
//padding
$zeroSizePadding: 0px;
$smallSizePadding: 10px;



//height
$zeroSizeHeight: 0px;
$smallSizeHeight: 10px;
//top absolute
$zeroSizeTop: 0px;
$sizeTop:10px;
//left absolute
$zeroSizeLeft: 0px;
$sizeLeft:10px;



//border 
$zeroSizeBorder: 0px;
$smallSizeBorder: 10px;


//line-height
$zeroLineHeight: 0px;
$smallLineHeight: 10px;

// main a line height
$mainLineHeight: 45px;


